.kuc-notify {
    user-select: none;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    min-height: 70px;
    max-height: 150px;
    min-width: 170px;
    max-width: 500px;
    position: fixed;
    overflow: auto;
    z-index: 2000;
    transition: all 0.25s;
}
.kuc-notify.show {
    top: 30px;
    transform: translate(-50%, 0%);
}
.kuc-notify.bg-danger {
    background: #e74c3c;
}
.kuc-notify.bg-success {
    background: #91C36C;
}
.kuc-notify.bg-infor {
    background: #3897d9;
}
.kuc-notify .kuc-notify-title {
    font-family: HelveticaNeueW02-45Ligh,Arial,'Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    padding: 16px 56px 16px 24px;
    text-shadow: 1px -1px 0 rgba(0,0,0,.5);
    font-size: 16px;
    line-height: 1.5;
    color: white;
    min-width: 80px;
}
.kuc-notify .kuc-close-button {
    right: 10px;
    top: 15px;
    position: absolute;
    cursor:pointer;
    width:30px;
}
