.kuc-colorpicker-outer {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.kuc-colorpicker-pop-outer {
    border: 1px solid #e3e7e8;
    background-color: #fff;
    box-shadow: 1px 1px 12px #f5f5f5 inset, -1px -1px 12px #f5f5f5 inset;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kuc-colorpicker-pop-bottom {
    text-align: left;
}

.kuc-colorpicker-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 16px;
    min-width: 76px;
    height: 28px;
    outline: none;
    border: 1px solid #e3e7e8;
    text-align: center;
    line-height: 28px;
    cursor: pointer; 
}

.kuc-colorpicker-button-ok {
    margin: 5px;
    background-color: #3498db;
    box-shadow: 1px 1px 1px #8ccbee inset;
    color: #fff;
}
.kuc-colorpicker-button-ok:hover {
    background-color: #1d6fa5;
}

.kuc-colorpicker-button-cancel {
    background-color: #f7f9fa;
    box-shadow: 1px 1px 1px #fff inset;
    color: #3498db;
}
.kuc-colorpicker-button-cancel:hover {
    background-color: #c8d6dd;
    box-shadow: none;
}

.kuc-colorpicker-pop-body {
    padding: 5px 5px 0px;
    display: flex;
}

.kuc-colorpicker-pop-popover {
    position: absolute;
    z-index: 2;
}

.kuc-colorpicker-hue {
    position: relative;
    height: 150px;
    width: 18px;
    margin-left: 10px;
    border: 2px solid #B3B3B3;
    border-bottom: 2px solid #F0F0F0;
}

.kuc-colorpicker-saturation {
    width: 152px;
    height: 152px;
    position: relative;
    border: 2px solid #B3B3B3;
    border-bottom: 2px solid #F0F0F0;
    overflow: hidden;
}

.kuc-colorpicker-fields {
    width: 80px;
    position: relative;
}

.kuc-colorpicker-divider {
    height: 8px;
}