@charset "UTF-8";

@import url("https://js.kintone.com/font-awesome/v4.7.0/css/font-awesome.min.css");

*[class|="kuc"] {
  color: #333;
  word-wrap: break-word;
  font-size: 16px;
}

:lang(us) *[class|="kuc"] {
  font-family: 'HelveticaNeueW02-45Ligh', Arial, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

:lang(ja) *[class|="kuc"] {
  font-family: 'メイリオ', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

:lang(zh) *[class|="kuc"] {
  font-family: '微软雅黑', 'Microsoft YaHei', '新宋体', NSimSun, STHeiti, Hei, 'Heiti SC', sans-serif;
}

/* Item */
.kuc-list-outer {
    margin-top: -6px;
    padding: 12px 0 0 0;
    border: 1px solid #e3e7e8;
    background-color: #fff;
    box-shadow: 1px 1px 12px #f5f5f5 inset, -1px -1px 12px #f5f5f5 inset;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.kuc-list-item {
    position: relative;
    font-size: 14px;
    padding: 1px 16px 8px 10px;
    line-height: 1;
    cursor: pointer;
}
.kuc-list-item-selected {
    background: none;
}
.kuc-list-item .kuc-icon-check {
    display: none;
}
.kuc-list-item .kuc-list-item-label {
    font-size: 13px;
    word-wrap: normal;
}
.kuc-list-item-selected span {
    color: #3498db;
}
.kuc-list-item-disable span {
    color: #888888;
}
.kuc-list-item-disable.kuc-list-item-selected .kuc-list-item-label,
.kuc-list-item-selected .kuc-list-item-label {
    margin-left: 16px;
}
.kuc-list-item-disable.kuc-list-item-selected .kuc-icon-check,
.kuc-list-item-selected .kuc-icon-check {
    display: block;
    font-size: 13px;
    line-height: 1.5;
    position: absolute;
}
/* Item */
