.kuc-dropdown-sub-container,
.kuc-dropdown-outer {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.kuc-dropdown {
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 0;
    padding: 0 16px;
    min-width: 80px;
    max-width: 280px;
    height: 48px;
    border: 1px solid #e3e7e8;
    background-color: #f7f9fa;
    box-shadow: 1px 1px 1px #fff inset;
    color: #3498db;
    text-overflow: ellipsis;
}
.kuc-dropdown:hover {
    background-color: #f4f7f8;
    cursor: pointer;
}
.kuc-dropdown.kuc-dropdown-disable,
.kuc-dropdown.kuc-dropdown-disable:hover {
    cursor: not-allowed;
    border: none;
    background-color: #dbdcdd;
}
.kuc-dropdown.kuc-dropdown-disable .kuc-dropdown-selected-name {
    color: #888;
}
.kuc-dropdown-selected {
    min-width: 118px;
    height: 48px;
    padding-right: 48px;
}
.kuc-dropdown-selected-name {
    color: #3498db;
    font-size: 14px;
    line-height: 48px;
}
.kuc-dropdown-selected-name .icon-arrow-down {
    position: absolute;
    right: 15px;
}
.kuc-dropdown-selected-name .icon-arrow-down i {
    font-size: 22px;
    vertical-align: middle;
}
.kuc-dropdown-sub-container .kuc-list-outer {
    position: absolute;
    overflow-y: scroll;
    max-height: 400px;
    min-width: 280px;
    z-index: 2000;
}
