.kuc-icon-btn {
    display: block;
    border: none;
    background-color: #EEEEEE;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: relative;
  }
  .kuc-icon-btn svg{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
  }
  .kuc-icon-btn svg path{
    fill: #9E9E9E;
  }
  .kuc-icon-btn:hover {
    background-color: #2d8dd6;
  }
  .kuc-icon-btn:hover svg path{
    fill: #ffffff;
  }
  .kuc-icon-btn.hover-danger:hover {
    background-color: #E44235;
  }
  .kuc-icon-btn.normal {
    border-radius: 2px;
  }
  .kuc-icon-btn.circle {
    border-radius: 50%;
  }
  .kuc-icon-btn.large {
    width: 32px;
    height: 32px;
  }
  .kuc-icon-btn.small {
    width: 16px;
    height: 16px;
  }
  .kuc-icon-btn.small svg {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
  }
  .kuc-icon-btn.small svg path {
    transform: scale(0.5);
  }
  .kuc-icon-btn.blue {
    background-color: #2d8dd6;
  }
  .kuc-icon-btn.blue:hover {
    background-color: #1a649b;
  }
  .kuc-icon-btn.red {
    background-color: #E44234;
  }
  .kuc-icon-btn.red:hover {
    background-color: #D03D30;
  }
  .kuc-icon-btn.green {
    background-color: #86BB61;
  }
  .kuc-icon-btn.green:hover {
    background-color: #5F973A;
  }
  .kuc-icon-btn.blue svg path,
  .kuc-icon-btn.red svg path,
  .kuc-icon-btn.green svg path {
    fill: #ffffff;
  }
  .kuc-icon-btn.transparent {
    background-color: transparent;
  }
  .kuc-icon-btn.transparent:hover {
    color: #2d8dd6;
  }
  .kuc-icon-btn.transparent svg path {
    fill: #9E9E9E;
  }
  .kuc-icon-btn:disabled,
  .kuc-icon-btn:disabled:hover {
    background-color: #dbdcdd;
    cursor: not-allowed;
    box-shadow: none;
  }
  .kuc-icon-btn:disabled svg path,
  .kuc-icon-btn:disabled:hover svg path{
    fill: #bababa;
  }
  