.kuc-multiple-list.kuc-list-outer {
    user-select: none;
    box-shadow: 1px 1px 12px #f5f5f5 inset, -1px -1px 12px #f5f5f5 inset;
}
.kuc-multiple-list.kuc-list-outer {
    max-width: 300px;
    max-height: 153px;
    overflow: auto;
    min-width: 200px;
}
.kuc-multiple-list.kuc-list-outer.kuc-multiple-list-disable {
    box-shadow: none;
    background-color: #dbdcdd;
}