.kuc-notify {
    user-select: none;
    top: 30px;
    left: 50%;
    min-height: 70px;
    max-height: 150px;
    min-width: 170px;
    max-width: 500px;
    position: fixed;
    overflow: auto;
    z-index: 2000;
    animation-name:kuc-notify-fade-in;
    animation-duration:0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes kuc-notify-fade-in {
    0% {opacity: 0; transform: translate(-50%,-16px);}
    100% {opacity: 1; transform: translate(-50%,0);}
}
.kuc-notify.bg-danger {
    background: #e74c3c;
}
.kuc-notify.bg-success {
    background: #91C36C;
}
.kuc-notify.bg-info {
    background: #3897d9;
}
.kuc-notify .kuc-notify-title {
    font-family: HelveticaNeueW02-45Ligh,Arial,'Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    padding: 16px 56px 16px 24px;
    text-shadow: 1px -1px 0 rgba(0,0,0,.5);
    font-size: 16px;
    line-height: 1.5;
    color: white;
    min-width: 80px;
}
.kuc-notify .kuc-close-button {
    right: 10px;
    top: 15px;
    position: absolute;
    cursor:pointer;
    width:30px;
}
.kuc-notify .kuc-icon-btn:disabled,
.kuc-notify .kuc-icon-btn:disabled:hover {
    color: rgba(255, 255, 255, 0.5);
    border: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
}
