.kuc-input-outer {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.kuc-input-text {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0 8px;
    height: 48px;
    outline: none;
    border: 1px solid #e3e7e8;
    background-color: #fff;
    box-shadow: 4px 4px 12px #f5f5f5 inset, -4px -4px 12px #f5f5f5 inset;
    font-size: 14px;
}
.kuc-input-text:disabled {
    cursor: not-allowed;
    background-color: #E7E6E6;
    box-shadow: none;
}
