name: Check v1 license

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [created]

jobs:
  license_finder:
    name: Check License On Dependency
    runs-on: ubuntu-latest
    steps:
      - name: Set up License Finder
        run: sudo gem install license_finder

      - name: Check out repository
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Cache Dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install Dependencies
        run: npm ci
      - name: Check licenses
        run: license_finder --decisions-file=licensefinder/doc/check-dependency-license.yml

  license_finder-dev:
    name: Check License On Devdependency
    runs-on: ubuntu-latest
    steps:
      - name: Set up License Finder
        run: sudo gem install license_finder

      - name: Check out repository
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Cache Devdependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install Dependencies
        run: npm ci
      - name: Check dev-licenses
        run: license_finder --decisions-file=licensefinder/doc/check-devdependency-license.yml