name: schedule and yamory

on: 
  schedule:
    - cron:  '0 16 * * 0'
    
jobs:
  check_master:
    name: excute yamory_master
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
          ref: master
    - name: run Yamory
      run: |
        ls -1 -d demos/*/ | xargs -I {} bash -c "$(curl -sSf -L https://localscanner.yamory.io/script/npm)" --  --manifest {}/package.json
        bash -c "$(curl -sSf -L https://localscanner.yamory.io/script/npm)" 
      env:
        CI: true
        PROJECT_GROUP_KEY: kintone-ui-component_master
        YAMORY_API_KEY: ${{ secrets.YAMORY_API_KEY }}
        
  check_v0_dev:
    name: excute yamory_v0_dev
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
          ref: v0_dev
    - name: run Yamory
      run: |
        bash -c "$(curl -sSf -L https://localscanner.yamory.io/script/npm)"
      env:
        CI: true
        PROJECT_GROUP_KEY: kintone-ui-component_v0_dev
        YAMORY_API_KEY: ${{ secrets.YAMORY_API_KEY }}